*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffff0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 130px;
}

.nav{
    margin-top: 12px;
    margin-left: 80px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.images{
    scale: 0.8;
}

p{
    margin-bottom: 20px;

}

.btn{
    color: #ffffff;
    background-color: #3b855b;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border: none;


}